<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">


    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name="com.common.myapplication.MyApp"
        android:theme="@style/AppTheme">
        <activity android:name="com.common.myapplication.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.common.myapplication.KotlinActivity" />
        <activity android:name="com.common.myapplication.ImageActivity" />
        <activity android:name="com.common.myapplication.VisitNetActivity" />
        <activity android:name="com.common.myapplication.DataBindingClass" />
        <activity android:name="com.common.myapplication.UseBaseVBActivity" />

        <meta-data
            android:name="design_width_in_dp"
            android:value="441" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="784" />


        <receiver android:name="com.common.myapplication.NotificationClickReceiver"></receiver>

    </application>

</manifest>